<ul class="border rounded-md">
  <li>Offer id; <%= offer.id %></li>
  <li>Offer price: <%= offer.price %></li>
  <li>Offer Request owner: <%= offer.request.user.email_address %></li>
  <li>Offer bidder/dealer name: <%= offer.dealer_profile.dealer_name %></li>
</ul>