<div class="flex flex-col">
  <h1 class="text-xl font-bold">Heres Vendor</h1>
  <div class="border rounded p-2">
    <ul class="">
      <li>Vendor email: <%= @user.email_address %></li>
      <li>Vendor id: <%= @user.id %></li>
      <li>More history here perhaps</li>
    </ul>
  </div>
</div>